@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    width: 100%;
    background: #fafafa;
    position: relative;
    font-family: "Roboto", sans-serif;
}

*:focus{
    outline: none;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
}

.nav-wrapper{
    width: 70%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-img{
    height: 100px;
    margin-top: 5px;
}

.search-form{
    margin-bottom: 20px;
}

.search-box{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 25px;
    background: #fafafa;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: capitalize; 
}

.nav-items{
    height: 22px;
    position: relative;
}

.icon{
    height: 100%;
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
}

.user-profile{
    width: 22px;
    border-radius: 50%;
}

/* Section */
.main{
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.wrapper{
    width: 70%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 30px;
}

.left-col{
    display: flex;
    flex-direction: column;
}

/* Status */
.status-wrapper{
    width: 100%;
    height: 120px;
    background: #fff;
    border: 1px solid #dfdfdf;
    padding: 10px;
    padding-right: 0;
    border-radius: 2px;
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
}

.status-wrapper::-webkit-scrollbar{
    display: none;
}

.status-card{
    flex: 0 0 auto;
    width: 80px;
    max-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.profile-pic{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
    background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 120) 80%);
}

.profile-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff; 
}

.username{
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.5);
}

/* Post */
.post{
    width: 100%;
    height: 600px;
    background: #fff;
    border: 1px solid #dfdfdf;
    margin-top: 10px;
}

.info{
   width: 100%;
   height: 60px; 
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 20px;
}


.info .username{
    width: auto;
    font-weight: bold;
    font-size: 14px;
    color: #000;
    margin-left: 10px;
}

.info .options{
    height: 10px;
    cursor: pointer;
}

.info .user{
    display: flex;
    align-items: center;
}

.info .profile-pic{
    width: 50px;
    height: 50px;
    padding: 0;
    background: none;
}

.info .profile-pic img{
    border: none;
}

.post-image{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.post-contet{
    width: 100%;
    padding: 20px;
}

.likes{
    font-weight: bold;
}

.description{
    margin: 10px 0;
    font-size: 14px;
    line-height: 20px;
}

.description span{
    font-weight: bold;
    margin-right: 10px;
}

.ja{
    padding-left: 15px;
    margin-bottom: 20px;
}

.post-times{
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.comment-wrapper{
    width: 100%;
    height: 50px;
    border: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-wrapper .icon{
    height: 30px;
    border-radius: 50%;

}

.comment-box{
    width: 80%;
    height: 20px;
    border: none;
    outline: none;
    font-size: 14px;
}

.comment-btn,
.logout-btn,
.follow-btn{
    width: 70px;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 16px;
    color: (0, 162, 255);
    opacity: 0.5;
}

.reaction-wrapper{
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: -5px;
    align-items: center;
}

.reaction-wrapper .icon{
    height: 25px;
    margin: 0;
    margin-right: 20px;
}

.reaction-wrapper .icon1{
    padding-left: 15px;
    height: 25px;
    margin: 0;
    margin-right: 20px;
}

/* Right-Col */
.right-col{
    padding: 20px;
}

.profile-card,
.suggestion-card{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.profile-card .profile-pic{
    flex: 0 0 auto;
    padding: 0;
    background: none;
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.profile-card .profile-pic img{
    border: none;
    width: 70px;
    height: 70px;
}

.profile-card .username,
.suggestion-card .username{
    font-weight: 500;
    font-size: 14px;
    color: #000;
    margin-bottom: 0;
}

.profile-card .sub-text,
.status-card .sub-text{
    color: #000;
    font-size: 12px;
    font-weight: 500;
    margin-top: 2px;
    margin-bottom: 0;
}

.logout-btn,
.follow-btn{
    opacity: 1;
    font-weight: 700;
    font-size: 12px;
}

/* Suggestion-Card */
.suggestion-card .suggestion-pic{
    flex: 0 0;
    padding: 0;
    border: none;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.suggestion-card .suggestion-pic img{
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.suggestion-text{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    margin: 20px 0;
}









